<launch>
  <arg name="role_name" default="hero" />
  <arg name="control_loop_rate" default="0.05" />

  <!-- just for Debugging/ Optimizing purposes -> Uncomment to use and see plots -->
  <!-- <node pkg="perception" type="position_heading_filter_debug_node.py" name="position_heading_filter_debug_node" output="screen">
    <param name="control_loop_rate" value="$(arg control_loop_rate)" />
    <param name="role_name" value="$(arg role_name)" />
  </node> -->
  <!--<node pkg="rqt_plot" type="rqt_plot" output="screen" name="rqt_plot" args="/paf/hero/position_debug/data[10] /paf/hero/position_debug/data[13] /paf/hero/position_debug/data[16]"/>-->
  <!--<node pkg="rqt_plot" type="rqt_plot" output="screen" name="rqt_plot" args="/paf/hero/heading_debug/data[5] /paf/hero/heading_debug/data[6]" />-->

  <node pkg="perception" type="kalman_filter.py" name="kalman_filter_node" output="screen">
    <param name="control_loop_rate" value="$(arg control_loop_rate)" />
    <param name="role_name" value="$(arg role_name)" />
  </node>

  <node pkg="perception" type="position_heading_publisher_node.py" name="position_heading_publisher_node" output="screen">
    <param name="control_loop_rate" value="$(arg control_loop_rate)" />
    <param name="role_name" value="$(arg role_name)" />
    <param name="pos_filter" value="Kalman" />
    <param name="heading_filter" value="Kalman" />
      <!--
        Position Filter values:
        - "Kalman" (Default)
        - "RunningAvg"
        - "None"
        Heading Filter values:
        - "Kalman" (Default)
        - "None"
        - "Old" (Buggy for demonstration purposes only)
      -->
  </node>

  <!--<node pkg="perception" type="vision_node.py" name="VisionNode" output="screen">-->
  <node pkg="perception" type="debug_wrapper.py" name="VisionNode" output="screen" args="--debug_node=vision_node.py --debug_port=53000">
    <param name="role_name" value="$(arg role_name)" />
    <param name="view_camera" value="False" />
    <param name="camera_resolution" value="320"/>

      <!--
        Image-Segmentation:
      - yolov8x-seg
      - yolo11n-seg
      - yolo11s-seg
      - yolo11m-seg
      - yolo11l-seg
      -->

    <param name="model" value="yolo11x-seg" />
  </node>

  <node pkg="perception" type="zoom_node.py" name="ZoomNode" output="screen">
    <param name="role_name" value="$(arg role_name)" />
    <param name="view_camera" value="True" />
    <param name="camera_resolution" value="720"/>

      <!--
        Image-Segmentation:
      - yolov8x-seg
      - yolo11n-seg
      - yolo11s-seg
      - yolo11m-seg
      - yolo11l-seg
      -->

    <param name="model" value="yolo11x-seg" />
  </node>

  <node pkg="perception" type="traffic_light_node.py" name="TrafficLightNode" output="screen">
    <param name="role_name" value="$(arg role_name)" />
    <param name="side" value="Center" />
    <param name="model" value="/workspace/code/perception/src/traffic_light_detection/models/model_acc_92.48_val_91.88.pt" />
  </node>

  <node pkg="perception" type="global_plan_distance_publisher.py" name="GlobalPlanDistance" output="screen">
    <param name="control_loop_rate" value="$(arg control_loop_rate)" />
    <param name="role_name" value="$(arg role_name)" />
  </node>

  <node pkg="perception" type="lidar_distance.py" name="lidar_distance" output="screen">
    <param name="point_cloud_topic" value="/carla/hero/LIDAR_filtered"/>
    <param name="range_topic" value="/carla/hero/LIDAR_range"/>

    <!-- Cluster configuration -->
    <param name="clustering_radar_z_min" value="-1.4" />
    <param name="dbscan_eps" value="0.4" />
    <param name="dbscan_min_samples" value="10" />
  </node>

  <node pkg="perception" type="radar_node.py" name="radar_node" output="screen">
    <param name="point_cloud_topic" value="/carla/hero/RADAR_filtered"/>
    <param name="range_topic" value="/carla/hero/RADAR_range"/>

    <!-- Cluster configuration -->
    <param name="clustering_radar_z_min" value="-0.40" />
    <param name="clustering_radar_z_max" value="2.0" />
    <param name="dbscan_eps" value="0.4" />
    <param name="dbscan_min_samples" value="3" />
  </node>

</launch>
