<launch>
  <arg name="role_name" default="hero" />
  <arg name="control_loop_rate" default="0.05" /> 

  <!-- just for Debugging/ Optimizing purposes -> Uncomment to use and see plots -->
  <!-- <node pkg="perception" type="position_heading_filter_debug_node.py" name="position_heading_filter_debug_node" output="screen">
    <param name="control_loop_rate" value="$(arg control_loop_rate)" />
    <param name="role_name" value="$(arg role_name)" />
  </node> -->
  <!--<node pkg="rqt_plot" type="rqt_plot" output="screen" name="rqt_plot" args="/paf/hero/position_debug/data[10] /paf/hero/position_debug/data[13] /paf/hero/position_debug/data[16]"/>-->
  <!--<node pkg="rqt_plot" type="rqt_plot" output="screen" name="rqt_plot" args="/paf/hero/heading_debug/data[5] /paf/hero/heading_debug/data[6]" />-->

  <node pkg="perception" type="kalman_filter.py" name="kalman_filter_node" output="screen">
    <param name="control_loop_rate" value="$(arg control_loop_rate)" />
    <param name="role_name" value="$(arg role_name)" />
  </node>

  <node pkg="perception" type="position_heading_publisher_node.py" name="position_heading_publisher_node" output="screen">
    <param name="control_loop_rate" value="$(arg control_loop_rate)" />
    <param name="role_name" value="$(arg role_name)" />
    <param name="pos_filter" value="Kalman" />
    <param name="heading_filter" value="Kalman" />
      <!--
        Position Filter values:
        - "Kalman" (Default)
        - "RunningAvg"
        - "None"
        Heading Filter values:
        - "Kalman" (Default)
        - "None"
        - "Old" (Buggy for demonstration purposes only)
      -->
  </node>

  <node pkg="perception" type="vision_node.py" name="VisionNode" output="screen">
    <param name="role_name" value="$(arg role_name)" />
    <param name="side" value="Center" />
    <param name="center" value="True" />
    <param name="back" value="False" />
    <param name="left" value="False" />
    <param name="right" value="False" />

      <!--Object-Detection: 
      - frcnn_resnet50_fpn_v2 
      - frcnn_mobilenet_v3_large_320_fpn
      - yolov8n
      - yolov8s
      - yolov8m
      - yolov8l
      - yolov8x
      - yolo_nas_l
      - yolo_nas_m
      - yolo_nas_s
      - rtdetr-l
      - rtdetr-x
      - sam_l
      - FastSAM-x

      Image-Segmentation:
      - deeplabv3_resnet101
      - yolov8x-seg 
      -->

    <param name="model" value="rtdetr-l" />
  </node>

  <node pkg="perception" type="traffic_light_node.py" name="TrafficLightNode" output="screen">
    <param name="role_name" value="$(arg role_name)" />
    <param name="side" value="Center" />
    <param name="model" value="/workspace/code/perception/src/traffic_light_detection/models/model_acc_92.48_val_91.88.pt" />
  </node>

  <node pkg="perception" type="global_plan_distance_publisher.py" name="GlobalPlanDistance" output="screen">
    <param name="control_loop_rate" value="$(arg control_loop_rate)" />
    <param name="role_name" value="$(arg role_name)" />
  </node>

  <node pkg="perception" type="lidar_distance.py" name="lidar_distance" output="screen">
    <param name="point_cloud_topic" value="/carla/hero/LIDAR_filtered"/>
    <param name="range_topic" value="/carla/hero/LIDAR_range"/>
  </node>

  <node pkg="perception" type="radar_node.py" name="radar_node" output="screen">
    <param name="point_cloud_topic" value="/carla/hero/RADAR_filtered"/>
    <param name="range_topic" value="/carla/hero/RADAR_range"/>
  </node>
  
  <node pkg="perception" type="opencv_lane_detection.py" name="LaneDetection" output="screen">
  </node>

</launch>

