<launch>
  <arg name="map_publish_rate" default="20" />

  <arg name="enable_radar_marker" default="True" />
  <arg name="enable_lidar_marker" default="True" />
  <arg name="enable_radar_cluster" default="True" />
  <arg name="enable_lidar_cluster" default="True" />
  <arg name="enable_raw_lidar_points" default="False" />
  <arg name="enable_vision_points" default="True" />

  <arg name="lidar_z_min" default="-1.5" />
  <arg name="lidar_z_max" default="1.0" />
  <arg name="lidar_shape_radius" default="0.15" />
  <arg name="lidar_priority" default="0.25" />
  <arg name="lidar_discard_probability" default="0.9" />


  <node pkg="mapping" type="mapping_data_integration.py" name="mapping_data_integration"
    output="screen">
    <param name="map_publish_rate" value="$(arg map_publish_rate)" />

    <param name="enable_radar_marker" value="$(arg enable_radar_marker)" />
    <param name="enable_lidar_marker" value="$(arg enable_lidar_marker)" />
    <param name="enable_radar_cluster" value="$(arg enable_radar_cluster)" />
    <param name="enable_lidar_cluster" value="$(arg enable_lidar_cluster)" />
    <param name="enable_raw_lidar_points" value="$(arg enable_raw_lidar_points)" />
    <param name="enable_vision_points" value="$(arg enable_vision_points)" />

    <!-- Raw Lidar entity configuration -->
    <param name="lidar_z_min" value="$(arg lidar_z_min)" />
    <param name="lidar_z_max" value="$(arg lidar_z_max)" />
    <param name="lidar_shape_radius" value="$(arg lidar_shape_radius)" />
    <param name="lidar_priority" value="$(arg lidar_priority)" />
    <param name="lidar_discard_probability" value="$(arg lidar_discard_probability)" />
  </node>

</launch>