[flake8]
exclude= code/planning/src/behavior_agent/behavior_tree.py,
         code/planning/src/behavior_agent/behaviours/__init__.py,
         code/planning/src/behavior_agent/behaviours,
         code/planning/__init__.py