<launch>
    <arg name="role_name" default="hero" />
    <arg name="control_loop_rate" default="0.05" /> 

    <!-- perception -->
    <include file="$(find perception)/launch/perception.launch">
    </include>

    <!-- planning -->
    <include file="$(find planning)/launch/planning.launch">
    </include>

    <include file="$(find mock)/launch/mock.launch">
        <arg name="control_loop_rate" value="$(arg control_loop_rate)"/>
        <arg name="role_name" value="$(arg role_name)"/>
    </include>

    <!-- acting -->
    <include file="$(find acting)/launch/acting.launch">
        <arg name="control_loop_rate" value="$(arg control_loop_rate)"/>
        <arg name="role_name" value="$(arg role_name)"/>
    </include>

    <!-- debugging -->
    <include file="$(find debugging)/launch/debugging.launch">
    </include>

    <!-- mapping -->
    <include file="$(find mapping)/launch/mapping.launch">
    </include>

    <!-- mapping visualization -->
    <include file="$(find mapping_visualization)/launch/visualization.launch">
    </include>

    <!-- robot localization -->
    <include file="$(find robot_localization)/launch/navsat_transform_template.launch">
    </include>

    <!-- <include file="$(find robot_localization)/launch/ekf_template.launch">
    </include> -->

    <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
        <rosparam command="load" file="$(find filter_management)/config/ekf_config.yaml" /> -->

        <!--  Placeholder for output topic remapping
        <remap from="odometry/filtered" to=""/>
        <remap from="accel/filtered" to=""/>
        -->

    <!-- </node> -->

    <rosparam command="load" file="$(find filter_management)/config/ekf_config.yaml" />

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
        <remap from="odometry/filtered" to="odometry/filtered_map"/>
    </node>

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
        <remap from="odometry/filtered" to="odometry/filtered_map"/>
    </node>

    <!-- filter management -->
    <include file="$(find filter_management)/launch/filter_management.launch">
    </include>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find agent)/config/rviz_config.rviz" />
</launch>
