dvc==3.42.0
dvc-gdrive==3.0.1
networkx==3.1
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
pytorch-lightning==2.1.4
opencv-python==4.9.0.80
dvclive==3.41.1
ruamel.yaml==0.18.5
scipy==1.10.1
xmltodict==0.13.0
py-trees==2.2.3
numpy==1.23.5
ultralytics==8.3.32
scikit-learn>=0.18
pandas==2.0.3
debugpy==1.8.7
pyopenssl==24.3.0
cython==3.0.11