dvc==3.30.3
dvc-gdrive==2.20.0
torch==2.1.1
torchvision==0.16.1
torchaudio==2.1.1
pytorch-lightning==2.1.2
opencv-python==4.8.1.78
dvclive==3.3.1
ruamel.yaml==0.18.5
scipy==1.10.1
xmltodict==0.13.0
py-trees==2.2.3
numpy==1.23.5
ultralytics==8.0.220
