<launch>
  <arg name="role_name" default="hero" />
  <arg name="control_loop_rate" default="0.05" /> 

  <node pkg="filter_management" type="forward_topics.py" name="forward_topics" output="screen">
    <param name="role_name" value="$(arg role_name)" />
  </node>

  <node pkg="filter_management" type="create_odometry_msg.py" name="odometry_node" output="screen">
    <param name="role_name" value="$(arg role_name)" />
    <param name="control_loop_rate" value="$(arg control_loop_rate)" />
  </node>

  <node pkg="filter_management" type="split_odometry_msg.py" name="split_odometry_node" output="screen">
    <param name="role_name" value="$(arg role_name)" />
    <param name="control_loop_rate" value="$(arg control_loop_rate)" />
  </node>

  <!-- robot localization -->
    <rosparam command="load" file="$(find filter_management)/config/ekf_config.yaml" />

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
        <remap from="odometry/filtered" to="odometry/filtered_map"/>
    </node>

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
        <remap from="odometry/filtered" to="odometry/filtered_map"/>
    </node>

</launch>
