<!---->
<launch>
    <arg name="role_name" default="hero" />
    <arg name="control_loop_rate" default="0.05" />

    <!--Passthrough
    all messages the control package needs-->
    <node pkg="acting" type="passthrough.py" name="passthrough" output="screen">
        <param name="role_name" value="$(arg role_name)" />
        <param name="control_loop_rate" value="$(arg control_loop_rate)" />
    </node>

    <node pkg="acting" type="MainFramePublisher.py" name="MainFramePublisher" output="screen">
        <param name="control_loop_rate" value="$(arg control_loop_rate)" />
        <param name="role_name" value="$(arg role_name)" />
    </node>

    <include file="$(find control)/launch/control.launch">
        <arg name="control_loop_rate" value="$(arg control_loop_rate)" />
    </include>
</launch>