<launch>
    <!--node pkg="local_planner" type="collision_check.py" name="CollisionCheck" output="screen">
           <param name="role_name" value="hero" />
           <param name="control_loop_rate" value="1" />
    </node>
    <node pkg="local_planner" type="ACC.py" name="ACC" output="screen">
        <param name="role_name" value="hero" />
        <param name="control_loop_rate" value="0.3" />
    </node-->
    <!-- <node pkg="local_planner" type="dev_collision_publisher.py" name="DevCollisionCheck" output="screen">
        <param name="role_name" value="hero" />
        <param name="control_loop_rate" value="0.3" />
    </node> -->
    <!--node pkg="local_planner" type="motion_planning.py" name="MotionPlanning" output="screen">
           <param name="role_name" value="hero" />
           <param name="control_loop_rate" value="1" />
    </node-->
</launch>
