<node pkg="control" type="stanley_controller.py" name="stanley_controller" output="screen">
    <param name="control_loop_rate" value="$(arg control_loop_rate)" />
    <param name="role_name" value="$(arg role_name)" />
    <rosparam file="$(find control)/config/stanley_config.yaml" command="load" />
</node>