name: Build and push image

on:
  pull_request:
    branches:
      - main
      - ros2-dev
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    name: Build and push image
    runs-on: [self-hosted, build]
    outputs:
      version: ${{ steps.build.version.outputs.version }}
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Test build
        if: github.event_name == 'pull_request'
        uses: docker/build-push-action@v6
        with:
          context: .
          target: agent-deploy
          file: ./build/docker/agent-ros2/Dockerfile
          load: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}:test
          build-args: |
            PAF_USERNAME: paf
            PAF_UID: 1000
            PAF_GID: 1000
            BASE_FLAVOUR: cuda
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:buildcache,mode=max

      - name: Build and push Docker image
        id: build
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v6
        with:
          context: .
          target: agent-deploy
          file: ./build/docker/agent-ros2/Dockerfile
          push: true
          # tag 'latest' and version on push to main, otherwise use the commit hash
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          build-args: |
            PAF_USERNAME: paf
            PAF_UID: 1000
            PAF_GID: 1000
            BASE_FLAVOUR: cuda
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:buildcache,mode=max

      - name: Save pull request artifact
        if: github.event_name == 'pull_request'
        run: |
          mkdir -p ./artifact
          printf '{
            "is_pr": true,
            "pr_id": ${{ github.event.number }}
          }' >> ./artifact/artifact.json

      - name: Save merge artifact
        if: github.event_name != 'pull_request'
        run: |
          mkdir -p ./artifact
          printf '{
            "is_pr": false,
            "pr_id": -1
          }' >> ./artifact/artifact.json

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact
          path: ./artifact/artifact.json
          retention-days: 1

      - name: Prune all images older than 1 day from self-hosted runner
        run: docker image prune -a -f --filter "until=24h"
