name: Linter and format python code

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
    ruff:
        name: Linter and format python code
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repo
            uses: actions/checkout@v2
          # Execute the ruff linter
          - name: Run the ruff linter
            uses: addnab/docker-run-action@v3
            with:
              image: ghcr.io/astral-sh/ruff:0.14.8
              options: -v ${{ github.workspace }}:/apps
              run: check /apps/
           # Execute the ruff formatter (executes even if the previous step failed)
          - name: Run the ruff formatter
            uses: addnab/docker-run-action@v3
            with:
              image: ghcr.io/astral-sh/ruff:0.14.8
              options: -v ${{ github.workspace }}:/apps
              run: format /apps/ --check
